{% extends 'base.html.twig' %}

{% block header %}
    <header id="header" class="fixed-top">
        <div class="container d-flex align-items-center">
            <img src="{{ asset('assets/img/logo.png') }}" alt="">
            <h1 class="logo mr-auto"><a href="{{ asset('index.html') }}">Happy-Trip</a></h1>
            <!-- Uncomment below if you prefer to use an image logo -->
            <!-- <a href="index.html" class="logo mr-auto"><img src="assets/img/logo.png" alt="" class="img-fluid"></a>-->

            <nav class="nav-menu d-none d-lg-block">
                <ul>
                    <li class="active"><a href="{{ path('home') }}">Home</a></li>
                    <li><a href="#about">About</a></li>
                    <li><a href="#menu"></a>Menu</li>
                    <li><a href="#specials">Promotions</a></li>
                    <li><a href="#events">Events</a></li>
                    <li><a href="{{ path('ADD') }}">Hotels</a></li>
                    <li><a href="#chefs">Offres</a></li>
                    <li><a href="#reclamation">Reclamation</a></li>
                    <li><a href="#joinUs">JoinUs</a></li>

                    {% if app.user %}
                        <div class="active">
                            Welcome {{ app.user.username }}, <a class="active" href="{{ path('app_logout') }}">Logout</a>
                        </div>

                    {% else %}
                        <li class="book-a-table text-center"><a href="{{ path('app_login') }}">Login</a></li>
                        <li class="book-a-table text-center" style="padding-left: 7px;"><a href="{{ path('app_register') }}">Register</a></li>
                    {% endif %}


                </ul>
            </nav><!-- .nav-menu -->

        </div>
    </header><!-- End Header -->

{% endblock %}

{% block home %}
    <section id="hero" class="d-flex align-items-center">
        <div class="container position-relative text-center text-lg-left" data-aos="zoom-in" data-aos-delay="100">
            <div class="row" align="center">
                <div class="col-lg-8">

                    <h1 style="margin-left: 390px; margin-top: 55px">Please <span>Sign In</span></h1>
                    {# <h2> Choisissez Votre Destination Et Profitez Nos Offres !</h2> #}
                    <form method="post">
                        <div class="container" style="margin-top: -59px; margin-left: 200px">

                            <label for="inputEmail"
                                   style="padding-right: 184px;margin-bottom: 16px;margin-right: 156px;font-size: 17px;">Email</label>
                            <br>
                            <input type="email"  style="color:#212529; width: 400px"
                                   name="email" id="inputEmail"
                                   class="btn-menu" placeholder="example@gmail.com"
                                   oninvalid="InvalidMsg(this);" required="required"><br>
                            <script>
                                function InvalidMsg(textbox) {

                                    if (textbox.value === '') {
                                        textbox.setCustomValidity
                                        ('Email is required !');
                                    } else if (textbox.validity.typeMismatch) {
                                        textbox.setCustomValidity
                                        ('Please enter an email address which is valid!');
                                    } else {
                                        textbox.setCustomValidity('');
                                    }

                                    return true;
                                }
                            </script>
                            <br>
                            <label for="inputPassword"
                                   style="padding-right: 184px;margin-bottom: 16px;margin-right: 117px;font-size: 17px;">Password</label><br>
                            <input style="color:#212529;width: 400px" type="password" name="password" id="inputPassword"
                                   class="btn-menu animated fadeInUp scrollto" placeholder="******"
                                   oninvalid="InvalidPassword(this);" required="required"><br>
                            <script>
                                function InvalidPassword(textbox) {

                                    if (textbox.value === '') {
                                        textbox.setCustomValidity
                                        ('Password is required !');
                                    } else {
                                        textbox.setCustomValidity('');
                                    }

                                    return true;
                                }
                            </script>
                            <br>
                            {% if error %}
                                <div class="alert alert-danger">{{ error.messageKey|trans(error.messageData, 'security') }}</div>
                            {% endif %}
                            <input type="hidden" name="_csrf_token" value="{{ csrf_token('authenticate') }}">
                            <!--<br>-->
                            <div class="checkbox mb-3">
                                <input type="checkbox" name="_remember_me" style="width: 17px;height: 17px;">
                                <label style="padding-right: -180px;font-size: 17px;">Remember me </label>
                            </div>
                            <button class="btn-menu" type="submit"
                                    style="padding-right: -35px;font-size:15px;background-color: #cda45e;">
                                Sign in
                            </button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </section><!-- End Hero -->

{% endblock %}


{% block body %}

{% endblock %}
