{% extends 'base.html.twig' %}


{% block home %}


    <section id="hero" class="d-flex align-items-center">
        <div  class="container position-relative text-center text-lg-left" data-aos="zoom-in" data-aos-delay="100">
            <div class="row" align="center">
                <div class="col-lg-8">

                    <h1 style="margin-left: 390px; margin-top: 55px"><span>Register</span></h1>
                    {{ form_start(registrationForm,{'method':'post','action':path('app_register')}) }}
                    <div class="container" style="margin-top: -45px; margin-left: 200px">

                        {# {{ form_start(registrationForm) }} #}
                        {# {{ form_row(registrationForm.email,{label:'Email'},{style:'padding-right: 184px;margin-bottom: 16px;margin-right: 156px;font-size: 17px;'}) }} #}
                        <label style="margin-bottom: 16px;margin-right: 20px;font-size: 21px;">Email</label>
                        {{ form_widget(registrationForm.email,{'attr':{'class':'btn-menu','style':'pa-right: 184px;margin-bottom: 16px;width:400px;color:#212529;','placeholder':'example@gmail.com'}}) }}
                        <br>
                        <label style="margin-left:-42px;margin-bottom: 16px;margin-right: 20px;font-size: 21px;">Username</label>
                        {{ form_widget(registrationForm.username,{'attr':{'class':'btn-menu','style':'pa-right: 184px;margin-bottom: 16px;width:400px;color:#212529;','placeholder':'John Doe'}}) }}
                        <br>
                        {# {{ form_widget(registrationForm.imageFile,{'attr':{'class':'btn-menu','style':'pa-right: 184px;margin-bottom: 16px;width:400px;color:#212529;','placeholder':'Choose a file'}}) }}<br> #}

                        <div class="btn-menu"
                             style="width:400px;font-size:16px;margin-right:-83px;margin-bottom: 16px;">
                            {{ form_widget(registrationForm.imageFile) }}
                        </div>
                        <br>
                        <label style="margin-left:-42px;margin-bottom: 16px;margin-right: 20px;font-size: 21px;">Password</label>
                        {{ form_widget(registrationForm.password.first,{'attr':{'class':'btn-menu','style':'pa-right: 184px;margin-bottom: 16px;width:400px;color:#212529;','placeholder':'********'}}) }}
                        <br>
                        <label style="margin-left:-112px;margin-bottom: 16px;margin-right: 20px;font-size: 21px;">Repeat
                            Password</label>
                        {{ form_widget(registrationForm.password.second,{'attr':{'class':'btn-menu','style':'pa-right: 184px;margin-bottom: 16px;width:400px;color:#212529;','placeholder':'********'}}) }}
                        <br>
                        {% for flashError in app.flashes('verify_email_error') %}
                            <div class="alert alert-danger" role="alert">{{ flashError }}</div>
                        {% endfor %}
{#                        <button class="btn-menu" type="submit" value="{{ path('app_login') }}"#}
{#                                style="padding-right: -35px;font-size:15px;background-color: #cda45e;">#}
                            <div >
                                {{form_widget(registrationForm.signup,{'attr':{'class':'btn-menu','style':'padding-right: -35px;font-size:15px;background-color: #cda45e;margin-right:188px;'}}) }}
                            </div>
                        <br>
                        {{ form_end(registrationForm) }}
                    </div>
                </div>
            </div>
        </div>
    </section>

{% endblock %}


{% block body %}

{% endblock %}
